* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1100px;
}

body {
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
}

span {
  color: #f2994a;
}

p,
a {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(img/Frame.png);
  background-repeat: no-repeat;
  background-position-x: 615px;
  background-position-y: 210px;
  max-width: 1200px;
  margin: 0 auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 90px;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-menu li:not(:first-child) a:hover {
  color: #ffffff;
}

.header__nav-menu li:first-child a:hover {
  opacity: 0.8;
}

.header__nav-link {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #b5b5b5;
  padding-right: 24px;
}

.header__button_box-button_left {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f2994a;
  padding: 8px 29px;
  border: 1px solid #f2994a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  margin-right: 20px;
}

.header__button_box-button_left:hover {
  color: #ffffff;
  background-color: #f2994a;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__button_box-button_right {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f2994a;
  padding: 8px 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border-radius: 3px;
  border: 1px solid #f2994a;
}

.header__button_box-button_right:hover {
  color: #ffffff;
  background-color: #f2994a;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .header_inner {
  width: 50%;
}

.header__content-heading {
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  color: #99efd0;
  padding-bottom: 20px;
}

.header__content-text {
  width: 80%;
  font-size: 16px;
  line-height: 22px;
  color: #8476aa;
}

.header__content-button_box {
  padding-top: 53px;
  padding-bottom: 60px;
}

.header__content-button_box-button_right {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f2994a;
  padding: 13px 56.4px;
  border: 1px solid #f2994a;
  border-radius: 4px;
}

.header__content-button_box-button_right:hover {
  color: #ffffff;
  background-color: #f2994a;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__content-button_box-button_left {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f2994a;
  padding: 13px 32px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 20px;
  border-radius: 3px;
  border: 1px solid #f2994a;
}

.header__content-button_box-button_left:hover {
  color: #ffffff;
  background-color: #f2994a;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__brands {
  padding-top: 100px;
  width: 100%;
}

.logo {
  padding-right: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.content .content_inner {
  background-image: url(img/Frame_content.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

.content__section_one {
  padding-top: 98px;
  padding-bottom: 98px;
  margin: 0 auto;
}

.content__section_one-heading {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #99efd0;
  padding-bottom: 13px;
}

.content__section_one-text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #8476aa;
}

.content__section_one-aside {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content__section_one-aside-heading {
  font-size: 18px;
  line-height: 22px;
  color: #99efd0;
  padding-bottom: 10px;
}

.content__section_one-aside-text {
  font-size: 14px;
  line-height: 22px;
  color: #8476aa;
}

.content .wrap_section-two-and-free {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(img/section_two_bg.png);
  background-repeat: no-repeat;
  background-position-y: 179px;
}

.content__section_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  margin: 0 auto;
}

.content__section_two-content {
  padding-right: 65px;
}

.content__section_two-content-heading {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
  max-width: 475px;
  padding-bottom: 32px;
}

.content__section_two-content-text {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #8476aa;
  padding-bottom: 43px;
  max-width: 480px;
  padding-right: 58px;
}

.content__section_two-content-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f2994a;
  padding: 14px 31px;
  border-radius: 3px;
  border: 1px solid #f2994a;
}

.content__section_two-content-button:hover {
  color: #ffffff;
  background-color: #f2994a;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content__section_three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 169px 0;
  margin: 0 auto;
}

.content__section_three-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.33px;
  color: #99efd0;
  max-width: 70%;
}

.content__section_three-text {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #8476aa;
  padding-top: 32px;
  padding-bottom: 48px;
  max-width: 45%;
}

.content__section_three-aside_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__section_three-aside_box-aside {
  max-width: 20%;
}

.content__section_three-aside_box-aside-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.33px;
  color: #99efd0;
  padding-bottom: 16px;
}

.content__section_three-aside_box-aside-text {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #8476aa;
}

.content__section_four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(img/section_four_bg.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.content__section_four-heading {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #99efd0;
  max-width: 70%;
}

.content__section_four-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f2994a;
  border-radius: 3px;
  padding: 17px 33px;
  display: inline-block;
  margin-top: 46px;
  margin-bottom: 353px;
  border: 1px solid #f2994a;
}

.content__section_four-button:hover {
  color: #ffffff;
  background-color: #f2994a;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content__section_five {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 143px;
  padding-bottom: 143px;
  background-image: url(img/section_five_bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 180px;
  margin: 0 auto;
}

.content__section_five-content {
  max-width: 35%;
  padding-right: 163px;
}

.content__section_five-content-heading {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
  padding-bottom: 32px;
}

.content__section_five-content-text {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #8476aa;
  padding-bottom: 46px;
}

.content__section_five-content-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f2994a;
  padding: 17px 31px;
  border-radius: 3px;
  border: 1px solid #f2994a;
}

.content__section_five-content-button:hover {
  color: #ffffff;
  background-color: #f2994a;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content__section_six {
  background-image: url(img/section_six_bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
}

.content__section_six-content {
  padding-left: 85px;
  max-width: 46%;
}

.content__section_six-content-heading {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.325px;
  color: #99efd0;
  padding-bottom: 32px;
}

.content__section_six-content-text {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476aa;
  max-width: 70%;
}

.content__section_six-content-aside_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
}

.content__section_six-content-aside_box-aside {
  max-width: 35%;
}

.content__section_six-content-aside_box-aside-heading {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #99efd0;
  padding-bottom: 8px;
  padding-top: 8px;
}

.content__section_six-content-aside_box-aside-text {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476aa;
}

.content__section_seven {
  background-image: url(img/section_seven_bg.png);
  background-repeat: no-repeat;
  background-position-y: 95px;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 146px;
}

.content__section_seven .section_seven-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(60, 62, 125, 0.19);
  -webkit-backdrop-filter: blur(134px);
          backdrop-filter: blur(134px);
  border-radius: 5px;
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 139px;
}

.content__section_seven-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #f2994a;
  padding-top: 50px;
  padding-bottom: 20px;
}

.content__section_seven-text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #95a1bb;
  padding-bottom: 23px;
  max-width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content__section_seven-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__section_seven-form-input {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding: 18px 16px;
  border-radius: 5px 0 0 5px;
  background: rgba(60, 62, 125, 0.19);
  border: none;
  width: 288px;
  color: #ffffff;
}

.content__section_seven-form-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f2994a;
  padding: 19px 37px;
  background: rgba(60, 62, 125, 0.19);
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #f2994a;
  cursor: pointer;
}

.content__section_seven-form-button:hover {
  color: #ffffff;
  background-color: #f2994a;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content__section_seven-text-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476aa;
  padding-bottom: 52px;
  padding-top: 16px;
  text-align: center;
}

.content__section_seven-form-input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.content__section_seven-form-input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.content__section_seven-form-input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.content__section_seven-form-input::placeholder {
  color: #ffffff;
  opacity: 0.2;
}

.padding_top35 {
  padding-top: 35px;
}

.section_one-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img_size-section_one {
  height: 24px;
  width: 24px;
  padding-right: 28px;
}

.padding_right {
  padding-right: 64px;
}

.footer {
  background-image: url(img/footer_bg.png);
  background-position: top;
  margin: 0 auto;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 940px;
  margin: 0 auto;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 94px;
}

.footer__inner a img:hover {
  opacity: 0.5;
}

.footer-heading {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.325px;
  color: #f2994a;
}

.footer-colomn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-colomn-heading {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding-bottom: 25px;
}

.footer-colomn-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding-top: 16px;
  opacity: 0.8;
}

.footer-bottom_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8d8d8d;
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 120px;
  padding-bottom: 100px;
}

@media (max-width: 1120px) {
  .header {
    background-size: 50%;
  }
  .container {
    margin: 0 20px;
  }
  .header__content {
    margin-left: 20px;
  }
  .header__nav {
    margin: 0 20px;
  }
}

@media (max-width: 769px) {
  .header {
    background-position-x: 420px;
  }
  .content__section_five-content {
    margin-bottom: 40px;
  }
  .content__section_five-content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 40px;
    max-width: none;
  }
  .content__section_five {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0;
  }
  .header__nav-menu li:not(:first-child) {
    display: none;
  }
  .content__section_two {
    display: block;
    text-align: center;
  }
  .content__section_two-content-heading {
    max-width: none;
  }
  .content__section_two-content-text {
    max-width: none;
  }
  .content__section_three {
    padding: 60px 0;
  }
  .content__section_two-content {
    padding-right: 0;
    margin-bottom: 40px;
  }
  .content__section_one {
    padding: 60px 0;
  }
  .content__section_six {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__section_six img {
    display: none;
  }
  .content__section_six-content {
    max-width: none;
    padding-left: 0;
    text-align: center;
    margin-top: 40px;
  }
  .content__section_six-content-text {
    max-width: none;
  }
  .content__section_six-content-aside_box-aside {
    max-width: none;
  }
  .header__brands {
    padding-top: 30px;
  }
  .header__nav {
    padding-top: 35px;
  }
  .content__section_seven {
    padding: 60px 0;
  }
  .footer-bottom_text {
    padding: 60px 0;
    width: 75%;
  }
  .content__section_seven .section_seven-inner {
    margin-bottom: 0;
  }
}

@media (max-width: 426px) {
  .header {
    background-image: none;
  }
  .header__content {
    margin-left: 0;
  }
  .header__content-heading {
    text-align: center;
    margin: 0 10px;
  }
  .header__content-text {
    text-align: center;
    width: auto;
  }
  .header .header_inner {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__section_one-aside1 {
    min-width: 210px;
  }
  .content__section_one-aside {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .content__section_two img,
  .content__section_five img {
    width: 100%;
  }
  .content__section_two-content-text {
    padding-right: 0;
  }
  .content__section_three-heading {
    max-width: none;
  }
  .content__section_three-text {
    max-width: none;
  }
  .content__section_three-aside_box-aside {
    min-width: 210px;
    max-width: 75%;
  }
  .content__section_three-aside_box-aside:not(:first-child) {
    margin-top: 20px;
  }
  .content__section_three-aside_box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content__section_five {
    padding-top: 0;
  }
  .footer-colomn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .footer-colomn div {
    min-width: 150px;
  }
  .footer-colomn div:nth-child(4) {
    margin-top: 20px;
  }
  .footer-colomn div:nth-child(3) {
    margin-top: 20px;
  }
  .footer-bottom_text {
    width: 100%;
  }
  .header__button_box-button_left {
    padding: 5px 13px;
  }
  .header__button_box-button_right {
    padding: 5px 13px;
  }
}

@media (max-width: 320px) {
  .header__content-button_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__content-button_box-button_left,
  .header__content-button_box-button_right {
    line-height: normal;
    letter-spacing: normal;
  }
  .footer-colomn div {
    min-width: auto;
  }
  .footer-bottom_text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom_text p:not(:first-child) {
    display: none;
  }
  .content__section_seven {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */